.box {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('images/index.jpg');
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.google-btn {
  width: 800px;
  height: 120px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 100px;
    height: 90px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    text-align: center;
    margin: 20px 40px 40px 170px;
    color: #757575;
    font-size: 60px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none;
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}